@{
    ViewBag.Title = "Confirm Email";
}
<hr class="topbar">
<div class="container">
    <div class="row">

        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header">
                    <span>
                        <span style="font-size:large">@ViewBag.Title.</span>
                    </span>
                </div>
                <div class="card-body">
                    <div class="form-vertical">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: new { Area = "Account" }, htmlAttributes: new { id = "loginLink" , style = "color:blue"})</div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>