@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hr class="topbar">
<div class="container">
    <div class="row">

        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header">
                    <span>
                        <span class="text-danger" style="font-size:large">Locked out.</span>
                    </span>
                </div>
                <div class="card-body">
                    <div class="form-vertical">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 text-danger">This account has been locked out, please try again later.</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-10">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
</div>