@{
    ViewBag.Title = "Verify Account";
}

<hr class="topbar">
<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header">
                    <span>
                        <span style="font-size:large">Verification email sent!</span>
                    </span>
                </div>
                <div class="card-body">
                    <div class="form-vertical">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">A verification email has been sent to your email address. Please check your email <b>(Inbox or Junk/Spam folders)</b> for more details.</div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
