@using PagedList;
@model IPagedList<Trinbago_MVC5.Areas.ClassifiedAd.Models.ClassifiedAdQueueList>
@{
    ViewBag.Title = "Ad Queue";
}

<hr class="topbar">
<div class="container">
    <div class="row">
        @{Html.RenderPartial("~/Views/Shared/_MyAccountMenuPartial.cshtml");}
        <!--Ad List-->
        <div class="col-12 col-sm-9">
            <div class="card">
                <div class="card-header">Manage adverts (<b>@User.Identity.Name's</b> posted Ad list)</div>
                <div class="card-body">
                    <form class="form-vertical">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12" id="ajaxAdList">
                                    @{Html.RenderPartial("_AdQueueList", Model);}
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!--/Ad List-->
    </div>
    <br>
</div>