@{
    ViewBag.Title = "About Us";
}

<hr class="topbar">
<div class="container">
    <div class="row">

        <div class="col-md-9 col-md-offset-1">
            <h1><em>@ViewBag.Title</em></h1>
            <hr>
            <div class="alert alert-info">
                <p class="c2">
                    <span>TrinbagoHotspot is a new classified ads platform introduced in 2016, dedicated to effectively helping users promote and sell their items in the form of classified ads.</span>
                </p>
                <h2>Our Philosophy</h2>
                <p class="c2" id="h.gjdgxs">
                <span class="c0">We want to make buying and Offering easier for you. Have you found yourself using social networking sites to look for ads? Have you found yourself searching through and joining several different group pages in order to find that one thing you're looking for? </span>
                <span class="c1"></span><span class="c0">The thing is, these sites aren't designed to make you get the best deal. They're simply networking sites trying to be a jack of all trades.</span>
                <span class="c1"><br /><br /></span><span class="c0">TrinbagoHotspot has been engineered to be your main search driver for classifieds. We have done all the work for you, with our algorithmic wizardry. Use our filter to pinpoint what you need or simply search for deals nearby. All of this power is in your hands.</span>
                <span class="c1"></span><span class="c0">Posting an ad is also super easy. We have created forms for you so that you don't need to remember every detail that buyers are looking for; this holds true especially for cars and housing. You just have to fill in the blanks, post and watch your views grow. Yes, it is that simple. </span>
                <span class="c1"></span><span class="c0">We welcome you to join us in what is the beginning of Trinidad and Tobago's leading classifieds platform.</span>
                <span class="c1"><br /><br /><b>Welcome to TrinbagoHotspot.</b></span>
                </p>                
            </div>
        </div>

    </div>
</div>