@{
    ViewBag.Title = "Tips and Guides";
}

<hr class="topbar">
<div class="container">
    <div class="row">

        <div class="col-md-9 col-md-offset-1">
            <h2><em>Tips</em></h2>
            <hr>
            <div class="alert alert-info">
                <label>Buyer tips</label>
                <p>
                    Follow these simple steps for a safe and successful buying experience:<br />
                    1. Make sure the ad contains adequate information about the item for sale.<br />
                    2. You should <em>NOT</em> need to contact the seller to detemine what he/she is Offering.<br />
                    3. Meet face to face to see the item and exchange money.<br />
                    4. Meet in an open, public location.<br />
                    5. Make sure you are completely happy with the item before handing over any money. <br />
                    6. Although we do not recommend paying for an item you haven't seen, if you are planning to do this, please use a secure payment method.<br />
                </p>
            </div>
            <br />
            <div class="alert alert-info">
                <label>Seller tips</label>
                <p>
                    Follow these simple steps for a safe and successful Offering experience:<br />
                    1. Try to add as much information about the item you are trying to sell.<br />
                    2. Include accurate images of the item you are Offering.<br />
                    3. Include a description and format it if necessary. <br />
                </p>
            </div>
        </div>

       <!--<div class="col-md-9 col-md-offset-1">
            <h2><em>Guides</em></h2>
            <hr>

        </div>
          -->
    </div>
</div>