@{
    ViewBag.Title = "Privacy Policy";
}

<hr class="topbar">
<div class="container">
    <div class="row">

        <div class="col-md-9 col-md-offset-1">
            <h1><em>@ViewBag.Title</em></h1>
            <hr>
            <div>                
                <p class="c2">
                    <span>
                        Your privacy is important to trinbagohotspot.com.  This privacy statement provides information about the personal information that trinbagohotspot.com collects,
                        and the ways in which trinbagohotspot.com uses that personal information.
                    </span>
                </p>
                <h3>Personal Information Collection</h3>
                <p class="c2">
                    <span class="c1">
                        Trinbagohotspot.com may collect and use the following kinds of personal information:
                    </span>
                    <ul>
                        <li>Information about your use of this website</li>
                        <li>Information that you provide for the purpose of registering with the website (including names, emails, and phone-numbers)</li>
                    </ul>
                </p>

                <h3>Personal Information Usage</h3>
                <p class="c2">
                    <span class="c1">
                        Trinbagohotspot.com may use your personal information to:
                    </span>
                    <ul>
                        <li>Publish information about you on the website (ie. contact information for your ads)</li>
                        <li>Personalize the website for you</li>
                        <li>Enable your access to and use of the website services</li>
                    </ul>
                    <span class="c1">
                        Where trinbagohotspot.com discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use
                        that personal information in accordance with the terms of this privacy statement.
                        <br />
                        In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, trinbagohotspot.com may disclose your personal information to the extent that it is
                        required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
                    </span>
                </p>

                <h3>Securing Your Data</h3>
                <p class="c2">
                    <span class="c1">
                        Trinbagohotspot.com will take reasonable technical precautions to prevent the loss, missuse or alteration of your personal information.
                        Trinbagohotspot.com will store all the personal information you provide on a secure server. All information relating to personal information
                        entered via this website, will be protected by encryption technology.
                    </span>
                </p>

                <h3>Updating This Statement</h3>
                <p class="c2">
                    <span class="c1">
                        Trinbagohotspot.com may update this privacy policy by posting a new version on this website. You should check this page occasionally to ensure you are familiar with any changes.
                    </span>
                </p>

                <h3>Other Websites</h3>
                <p class="c2">
                    <span class="c1">
                        Trinbagohotspot.com may contain links to other websites and is not responsible for the privacy policies or practices of any third party.
                    </span>
                </p>

                <h3>Contact TrinbagoHotspot</h3>
                <p class="c2">
                    <span class="c1">
                       You can get all our contact info by going to our @Html.ActionLink("Contact Us", "Contact", "Home", null, htmlAttributes: new { style="color:blue;" }) page.
                    </span>
                </p>
            </div>
        </div>

    </div>
</div>