@{
    ViewBag.Title = "Terms and Conditions";
}


<hr class="topbar">
<div class="container">
    <div class="row">

        <div class="col-md-9 col-md-offset-1">
            <h1><em>@ViewBag.Title</em></h1>
            <hr />
            <div>
                <p class="c1 c7">
                    <span></span>
                </p>
                <p class="c1">
                    <span>
                        Welcome to TrinbagoHotspot. By browsing and using this website you signify your agreement to comply with and be bound by the following terms and conditions of use which govern to TrinbagoHotspot’s relationship with you as related to this website. Please do not use our website if you disagree with any part of these terms and conditions. The term ‘TrinbagoHotspot’ or ‘us’ or ‘we’ refers to the owners of the website with the registered address of
                    </span>
                    <span class="c2">
                        <a class="c11" href="https://trinbagohotspot.com" style="color:blue" target="_blank">www.TrinbagoHotspot.com</a>
                    </span>
                    <span>.&nbsp;The term ‘you’ refers to the user or viewer of our website.</span>
                </p>
                <h3> The use of this website is subject to the following terms of use</h3>
                <ul class="c9 lst-kix_list_1-0"></ul>
                    <p class="c6 c1"><span></span></p>
                <ul class="c9 lst-kix_list_1-0">
                    <li class="c5 c1">
                        <span class="c0">
                            We provide no warranty or guarantee as to the accuracy, completeness, performance, 
                            suitability or timeliness of the information and materials found or offered on this website for any particular purpose. 
                            You acknowledge that such information and materials may contain errors or inaccuracies and we expressly exclude liability 
                            for any such errors or inaccuracies to the fullest extent permitted by law.
                        </span>
                    </li>
                </ul>
                <p class="c6 c1"><span></span></p>
                <ul class="c9 lst-kix_list_1-0">
                    <li class="c5 c1">
                        <span class="c0">
                            We shall not be liable for any information or materials on this website and your use of any information or materials found
                            on this website is entirely at your own risk. Ensuring that any products, services or information available through this 
                            website meet your specific requirements is your responsibility.
                        </span>
                    </li>
                </ul>
                <p class="c6 c1"><span></span></p>
                <ul class="c9 lst-kix_list_1-0">
                    <li class="c5 c1">
                        <span class="c0">
                            This website contains material which is owned by or licensed to us. Reproduction of material is prohibited other than in 
                            accordance with the copyright notice, which forms part of these terms and conditions. This material includes, but is not
                            limited to the design, layout, look, appearance and graphics. All trademarks reproduced in this website, which are not 
                            the property of, or licensed to the operator, are acknowledged on the website.
                        </span>
                    </li>
                </ul>
                <p class="c6 c1"><span></span></p>
                <ul class="c9 lst-kix_list_1-0">
                    <li class="c5 c1">
                        <span class="c0">
                            The unauthorized use of this website may result in a claim for damages and/or be a criminal offence.
                        </span>
                    </li>
                </ul>
                <p class="c6 c1"><span></span></p>
                <ul class="c9 lst-kix_list_1-0">
                    <li class="c5 c1">
                        <span class="c0">
                            &nbsp;This website may include links to other websites. These links are to provide further information for your convenience.
                            &nbsp;We have no responsibility for the content of the linked website(s) and inclusion of a link to a website does not signify
                            our endorsement of their views.
                        </span>
                    </li>
                </ul>
                <p class="c6 c1"><span></span></p>
                <ul class="c9 lst-kix_list_1-0">
                    <li class="c5 c1">
                        <span class="c0">
                            Your use of this website and any dispute resulting from the use of the website is subject to the laws of Trinidad and Tobago.
                        </span>
                    </li>
                </ul>
                <p class="c6 c1"><span></span></p>
                <ul class="c9 lst-kix_list_1-0">
                    <li class="c5 c1">
                        <span class="c0">
                            There shall be zero tolerance for any illegal activity or violation of our <span style="color:blue;">Prohibited List</span>. Accounts associated with these offences will be swiftly banned.
                        </span>
                    </li>
                </ul>
                <p class="c6 c1"><span></span></p>
                <p class="c3 c1"><span></span></p>
                <ul class="c9 lst-kix_list_1-0">
                    <li class="c5 c1">
                        <span class="c0">
                            Users are entirely responsible for meeting and finalizing transactions between a buyer and/or a seller and verifying the integrity of
                            the item being purchased. TrinbagoHotspot simply serves as an intermediary between the buyer and seller.
                        </span>
                    </li>
                </ul>
                                
                <h3 style="color:blue;">Prohibited List</h3>
                <ul>
                    <li><strong>DO NOT</strong> post misleading ads.</li>
                    <li><strong>DO NOT</strong> post any illegal activity on our website, including but not limited to, apparent scams, trafficking of
                            anything illicit, endangered species, pornography, firearms or any illegal projectile. This list is non-exhaustive.</li>
                    <li><strong>DO NOT</strong> distribute harmful programs or technologies intended to harm trinbagohotspot or any of it's users.</li>
                    <li><strong>DO NOT</strong> use any robot/spider/scraper or any other automated means to access trinbagohotspot to collect content for any purpose without our express permission.</li>
                    <li><strong>DO NOT</strong> bypass any measures used to prevent or restrict access to trinbagohotspot.</li>
                    <li><strong>DO NOT</strong> harvest user data without their consent.</li>
                    <li><strong>DO NOT</strong> spam users via phone/email.</li>

                </ul>

                <h3> Services and Fees</h3>
                <span>
                    The usage of trinbagohotspot.com is free. This includes the viewing and posting of classified ads.
                    Updates to these fee policies will be posted on the website.
                </span>

                <h3>Updating This Statement</h3>
                <p class="c2">
                    <span class="c1">
                        Trinbagohotspot.com reserves the right to update these terms and conditions at any time. Updates will be posted to this website and take effect immediately. You should check this page occasionally to ensure you are familiar with any changes.
                    </span>
                </p>

                <h3>Content</h3>
                <span>
                    The content of this website contains ads from users and subject to change without notice. You agree not to copy, modify or distribute TrinbagoHotspot services. 
                    When you give us content, you are granting us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable right to exercise the copyright, 
                    publicity, and database rights to that content. If you believe that your rights have been violated, please notify us at <a href="mailto:support@trinbagohotspot.com" style="color:blue">TrinbagoHotspot Customer Support</a>
                    and we will investigate the matter. We reserve the right to remove content where we have grounds for suspecting the violation of these terms or the rights of any other party.
                </span>
            </div>
        </div>   

    </div>
</div>