<div class='modal-dialog'>
    <div class='modal-content'>
        <div class='modal-body'>
            <span>Report sent</span>            
        </div>
        <div class='modal-footer'>
            <button type='button' class='btn btn-primary' data-dismiss='modal'>OK</button>            
        </div>
    </div>
</div>
